:root {
  --color-primary: #32a7e2;
  --color-blue-dark-1: #0e1f39;
  --color-blue-dark-2: #040c22;
  --color-gray: #c4c4c4;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  line-height: normal;
  color: var(--color-blue-dark-2);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.btn {
  display: inline-block;
  padding: 1rem 2.5rem;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.btn-container {
  display: flex;
  gap: 3rem;
  width: 80%;
}

.btn-blue {
  color: white;
  font-size: 1.6rem;
  font-weight: 500;
  align-self: center;
  background-color: var(--color-primary);
}

.btn-blue:hover,
.btn-blue:active {
  background-color: #0e1f39;
}

.btn-hero {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 500;
  padding: 2rem 2.8rem;
  border: none;
  cursor: pointer;
  text-align: center;
  font-family: inherit;
  flex: 1;
}

.btn-dark:link,
.btn-dark:visited {
  background-color: var(--color-blue-dark-1);
  color: white;
}

.btn-dark:hover,
.btn-dark:active {
  background-color: #32a7e2;
}

.btn-clear:link,
.btn-clear:visited {
  border: 2px solid white;
  color: #fff;
}

.btn-clear:hover,
.btn-clear:active {
  background-color: #32a7e2;
}

.container {
  max-width: 140rem;
  margin: 0 auto;
}

.header {
  height: 90vh;
  background-image: linear-gradient(
      to bottom,
      rgba(135, 206, 235, 0.7),
      rgba(6, 6, 204, 0.7)
    ),
    url(../img/gallery/gallery-1.jpg);
  background-size: cover;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1.75rem 0;
  border-bottom: 1px solid white;
}

.logo {
  height: 6.5rem;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  gap: 4.8rem;
  align-items: center;
  margin-left: 15rem;
}

.nav-link {
  font-size: 1.6rem;
  font-weight: 300;
  color: white;
}

.nav-link:hover,
.nav-link:active {
  color: var(--color-blue-dark-1);
}

.nav-link span {
  margin-left: 0.5rem;
}

/* Hero Section */
.hero-section {
  display: flex;
  justify-content: space-between;
}

.hero-text-box {
  margin-top: 15rem;
}

.hero-heading {
  color: white;
  font-size: 4.5rem;
  font-weight: 500;
  line-height: 4.75rem;
  letter-spacing: 0.25rem;
  margin-bottom: 1rem;
}

.hero-description {
  color: white;
  font-size: 1.6rem;
  margin-bottom: 3rem;
}

.hero-customer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 65%;
  right: 15%;
}

.hero-imgs {
  display: flex;
  align-items: center;
}

.hero-imgs img {
  display: block;
  height: 9.8rem;
  width: 9.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid white;
  object-fit: cover;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.hero-review h3 {
  color: white;
  font-size: 3.8rem;
  font-weight: 300;
}

.hero-review p {
  color: white;
  font-size: 1.8rem;
}

/* explore-listing */
.explore-listing {
  margin-top: 13rem;
}

.explore-listing-content p {
  font-size: 1.4rem;
}

.explore-listing-content a {
  margin-top: 1.5rem;
}

.explore-listing-header {
  display: flex;
  justify-content: space-between;
}

.explore-listing-text h2 {
  color: var(--color-primary);
  font-size: 4.8rem;
  font-weight: 500;
}

.explore-listing-text p {
  font-size: 1.5rem;
}

.explore-listing-icon {
  display: flex;
  gap: 1.8rem;
}

.explore-listing-icon i {
  font-size: 4.2rem;
}

.explore-icon-left,
.explore-icon-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 8rem;
  border: 1px solid black;
  border-radius: 50%;
  background-color: #fff;
}

.explore-icon-left:link,
.explore-icon-left:visited {
  background-color: #000;
  color: #fff;
}

.explore-icon-left:hover,
.explore-icon-left:active {
  background-color: #32a7e2;
  border: none;
  color: #fff;
}

.explore-icon-right:link,
.explore-icon-right:visited {
  background-color: #000;
  color: #fff;
}

.explore-icon-right:hover,
.explore-icon-right:active {
  background-color: #32a7e2;
  border: none;
  color: #fff;
}

.explore-content {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  margin-top: 2rem;
}

.header-listing {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.header-listing h4 {
  width: 16rem;
  font-size: 2rem;
  font-weight: 500;
}

.header-listing p {
  font-size: 2rem;
  font-weight: 500;
  color: var(--color-primary);
}

.listing-img {
  width: 100%;
}

.listing-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.listing-icon {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.listing-icon p {
  font-size: 1.2rem;
}

/* Who We Are */
.who-we-are {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 4rem;
  margin-top: 20rem;
}

.who-we-are img {
  max-width: 50%;
  height: auto;
  object-fit: cover;
}

.who-we-are-content {
  max-width: 50%;
  padding: 3rem 0;
}

.who-we-are-content h2 {
  font-size: 3rem;
  font-weight: 500;
  color: var(--color-primary);
}

.who-we-are-content p {
  font-size: 1.6rem;
  font-weight: 300;
  margin-bottom: 2rem;
}

/* our services */

.our-services {
  margin-top: 20rem;
}

.our-services-header {
  margin-bottom: 8rem;
}

.our-services-header h2 {
  font-size: 4.8rem;
  color: var(--color-primary);
  font-weight: 500;
  text-align: center;
}

.our-services-header p {
  font-size: 1.6rem;
  text-align: center;
}

.our-services-content {
  display: flex;
  justify-content: space-between;
}

.services {
  width: 30rem;
}

.services p {
  font-size: 1.6rem;
  line-height: 1.8;
}

.service {
  display: flex;
  align-items: center;
  gap: 1.8rem;
  margin-bottom: 0.8rem;
}

.service img {
  width: 8rem;
  height: 8rem;
}

.service h3 {
  font-size: 3rem;
  font-weight: 300;
}

/* client reviews */
.client-reviews {
  margin-top: 13rem;
  /* padding: 0 6rem; */
}

.client-reviews p {
  font-size: 2rem;
}

.header-client-reviews {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
}

.header-review h2 {
  color: var(--color-primary);
  font-size: 4.8rem;
  font-weight: 500;
}

.header-review p {
  font-size: 1.8rem;
}

.client-review-content {
  display: flex;
  justify-content: space-between;
}

.client-testimonial {
  width: 45%;
}

.review {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 3rem;
}

.review img {
  display: block;
  border-radius: 50%;
  width: 9.8rem;
  height: 9.8rem;
  object-fit: cover;
}

.review h5 {
  font-size: 2rem;
  font-weight: 300;
  color: var(--color-primary);
}

.review p {
  font-size: 1.6rem;
}

.vertical-line {
  width: 2px;
  height: 30rem;
  background-color: black;
}

/* subscribe */
.subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20rem;
  background-color: var(--color-gray);
  height: 60vh;
}

.subscribe-content {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 5rem;
}

.subscribe-content h1 {
  color: white;
  font-size: 4.8rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.6rem;
}

.subscribe-content p {
  color: white;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;
}

.form-subscribe {
  display: flex;
  justify-content: center;
}

.form-group {
  display: flex;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.form-group input {
  width: 100%;
  padding: 2rem;
  font-size: 1.6rem;
  border: 2px solid #ccc;
  overflow: hidden;
  outline: none;
}

.form-group button {
  position: absolute;
  right: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
  padding: 1.2rem 4rem;
  font-size: 1.6rem;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  overflow: hidden;
}

/* footer */
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 15rem;
}

.NewEra-Home {
  width: 25%;
}

.NewEra-Home h2 {
  font-size: 3.8rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.NewEra-Home p {
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

.NewEra-Home ul {
  display: flex;
  gap: 3.8rem;
  margin: 2rem 0;
}

.company h4,
.support h4,
.more h4 {
  font-size: 2.4rem;
  font-weight: 500;
}

.company li,
.support li,
.more li {
  font-size: 1.4rem;
  margin: 1.8rem 0;
}
